streamlit>=1.32
python-dotenv>=1.0

langchain-core>=0.2
langchain-community>=0.2
langchain-text-splitters>=0.2
langchain-huggingface>=0.0.3
langchain-pinecone>=0.1

pinecone-client>=3.0

sentence-transformers>=2.6
pypdf>=4.0

huggingface-hub>=0.23
